<!DOCTYPE html>
<html>
<head>
    <title>NCHC Ezilla Cloud Service</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Vendor Libraries -->
    <link rel="stylesheet" type="text/css" href="vendor/dataTables/demo_table_jui.css" />
    <link rel="stylesheet" type="text/css" href="vendor/dataTables/ColVis.css" />
    <link rel="stylesheet" type="text/css" href="vendor/jQueryUI/jquery-ui-1.8.16.custom.css" />
    <link rel="stylesheet" type="text/css" href="vendor/jGrowl/jquery.jgrowl.css" />
    <link rel="stylesheet" type="text/css" href="vendor/jQueryLayout/layout-default-latest.css" />
    <link rel="stylesheet" type="text/css" href="vendor/FontAwesome/css/font-awesome.css" />

    <script type="text/javascript" src="vendor/jQuery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="vendor/jGrowl/jquery.jgrowl_minimized.js"></script>
    <script type="text/javascript" src="vendor/jQueryUI/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="vendor/jQueryLayout/jquery.layout-latest.min.js"></script>
    <script type="text/javascript" src="vendor/dataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="vendor/dataTables/ColVis.min.js"></script>
<!--    <script type="text/javascript" src="vendor/dataTables/ColReorderWithResize.js"></script>-->
    <script language="javascript" type="text/javascript" src="vendor/flot/jquery.flot.min.js"></script>
    <script language="javascript" type="text/javascript" src="vendor/flot/jquery.flot.pie.min.js"></script>
    <script language="javascript" type="text/javascript" src="vendor/flot/jquery.flot.resize.min.js"></script>
    <script type="text/javascript" src="vendor/fileuploader/fileuploader.js"></script>
    <!--[if lte IE 8]>
        <script type="text/javascript" src="vendor/explorercanvas/excanvas.compiled.js"></script>
    <![endif]-->

    <!-- End Vendor Libraries -->

    <!--Languages-->
    <script type="text/javascript" src="js/locale.js"></script>
<%if session[:lang]%>
    <script type="text/javascript" src="locale/<%=session[:lang]%>/<%=session[:lang]%>.js"></script>
<%end%>
    <!--endLanguages-->

    <link rel="stylesheet" type="text/css" href="css/application.css" />
    <link rel="stylesheet" type="text/css" href="css/layout.css" />
    <link rel="stylesheet" type="text/css" href="css/smart_wizard_vertical.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery.ibutton.min.css" />
    <script type="text/javascript" src="vendor/smartwizard/jquery.smartWizard-2.0.min.js"></script>
    <script type="text/javascript" src="vendor/jquery.ibutton/jquery.ibutton.min.js"></script>
    <script type="text/javascript" src="js/opennebula.js"></script>
    <script type="text/javascript" src="js/layout.js"></script>
    <script type="text/javascript" src="js/sunstone.js"></script>
    <script type="text/javascript" src="js/sunstone-util.js"></script>
    <script type="text/javascript" src="js/monitoring.js"></script>

    <!-- Base Plugins -->
<% @plugins["plugins"].each do |plugin| %>
    <script type="text/javascript" src="js/plugins/<%= plugin %>"></script>
<% end %>
    <!--<script type="text/javascript" src="js/plugins/dummy-plugin.js"></script>-->
    <!-- End Base Plugins -->

    <!-- User Plugins -->
<% @plugins["user-plugins"].each do |plugin| %>
    <script type="text/javascript" src="js/user-plugins/<%= plugin %>"></script>
<% end %>
    <!-- End User Plugins -->

</head>
<body>

<div class="outer-center">
    <div class="inner-center">
    </div>
    <div id="dialog" class="inner-south"></div>
</div>

<div id="menu" class="outer-west">
    <ul id="navigation" class="navigation">
    </ul>
</div>

<div id="header" class="ui-layout-north">
    <div id="logo">
        <img src="images/Ezilla_logo_all_small.png"/>
    </div>

    <div id="menutop_container">
      <div id="menutop_navbar">
        <ul id="menutop_ul">

        </ul>
      </div>
    </div>

    <div id="login-info">
        <span id="welcome">Welcome</span>&nbsp;<span id="user"></span>&nbsp;|&nbsp;<a href="#" id="logout">Sign Out</a>
    </div>
    <div id="links">
        <a href="http://easycloud.nchc.org.tw/index.php/%E5%B8%B8%E8%A6%8B%E5%95%8F%E9%A1%8C" target="_blank" id="doc_link">Documentation</a>&nbsp;|&nbsp;
        <a href="http://easycloud.nchc.org.tw/index.php/%E8%81%AF%E7%B5%A1%E6%88%91%E5%80%91" target="_blank" id="support_link">Support</a>&nbsp;|&nbsp;
        <a href="https://groups.google.com/forum/?hl=zh-TW&fromgroups#!forum/nchc-easycloud" target="_blank" id="community_link">Community</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" id="lang_zh"></a>&nbsp;|
        <a href="#" id="lang_en"></a>
    </div>
</div>
<div id="footer" style="overflow:visible;" class="ui-layout-south">
    Copyright 2012 &copy; <a href="http://percomp.nchc.org.tw/" target="_blank">NCHC Pervasive Computing Lab</a>. All Rights Reserved.
</div>


<div id="dialogs">

</div>
<div id="plots">

</div>
<div id="info_panels"></div>
</body>
</html>
